body {
	font-family:Roboto,sans-serif ;
    background-color: #242325 ;
	padding: 0px;
	margin: 0px;
}


header { 
	text-align: center;	
}

.first {
	background-image: url("Images/backgroundimage.png");
	background-size: cover;
  	background-position: center;
  	/*width: 100%;*/
    height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 2);
}
.first h1 {
	position: absolute;
	font-size: 70pt;
	color: #362E48 ;
	top: 5%;
    left: 0%;
    right: 0%;
    margin-left: 30px;
}
.second {
	background-color: #F9E2C3 ;
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second h2 {
	font-size: 72pt;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #362E48 ;
	position: absolute;
	bottom: -27%;
    left: -20%;
    right: 0;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
}
.second .second-left {
	width: 30%;
	padding-right:150px;
	float: left;
}
.second-left{
	margin-left: 100px;
}

.second img {
	width: 400px;
	height: auto;
	object-fit: cover;
   	margin-right: 150px;
}
.second p {
	font-size: 20px;
	margin-left: 250px;
	position: absolute;
	bottom: -65%;
    right: 45%;
    left: 0;
}

.third {
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #362E48 ;

}

.third img {
	width: 400px;
	height: auto;
	object-fit: cover;
   	margin-left: 200px;
   	margin-top: 25px;
}
.third .third-right {
	width: 30%;
	padding-right:150px;
	float: left;
}
.third h1 {
	font-size: 72pt;
	margin-bottom: 20px;
	margin-top: 20px;
	position: absolute;
	bottom: -110%;
    left: 20%;
    right: 0;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;

} 
.third p {
	position: absolute;
	color: #ffffff ;
	font-size: 20px;
	bottom: -155%;
	left: 45%;
	margin-right: 250px;

}

.the-title {
	text-align: center;
	font-size: 62pt;
	margin-bottom: 0px;
	background-color: #242325;;
}
.fourth {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 200px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 25px;
/*    flex-wrap: wrap;*/
	align-content: center;
	color: #242325;
}
.fourth h2 {
	text-align: center;
	font-size: 32pt;
}
.fourth-text {
	display: inline-block;
}

.fourth-column {
    flex: 1 1 30%;
    margin: 10px;
    margin-left: 30px;
    margin-left: 30px;
    margin-left: 30px;
    padding: 20px;
    background-color: #242325;
    border: 1px solid #242325;
    word-wrap: break-word;
}
.fourth-column p{
	font-size: 16px;
    line-height: 1.5;
    color: #F9E2C3;
    text-align: justify; /* Aligne le texte à droite */
    display: inline-block; /* Comporte le texte comme un bloc */
    vertical-align: top; /* Aligne le texte en haut */
}
.fourth-column img {
    width: 300px;
    height: 450px;
    display: flex;
    object-fit: cover;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    align-self: center;
}

.fifth {
	background-color: #F9E2C3 ;
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fifth h2 {
	font-size: 72pt;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #362E48 ;
	position: absolute;
	bottom: -353%;
    left: -20%;
    right: 0;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
}
.fifth .fifth-left {
	width: 30%;
	padding-right:150px;
	float: left;
}
.fifth-left{
	margin-left: 100px;
}


.fifth img {
	width: 400px;
	height: auto;
	object-fit: cover;
   	margin-right: 150px;
}
.fifth p {
	font-size: 20px;
	margin-left: 250px;
	position: absolute;
	bottom: -395%;
    right: 45%;
    left: 0;
}
.sixth {
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #362E48 ;

}

.sixth img {
	width: 400px;
	height: auto;
	object-fit: cover;
   	margin-left: 200px;
   	margin-top: 25px;
}
.sixth .sixth-right {
	width: 30%;
	padding-right:150px;
	float: left;
}
.sixth h1 {
	font-size: 72pt;
	margin-bottom: 20px;
	margin-top: 20px;
	position: absolute;
	bottom: -450%;
    left: 25%;
    right: 0;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;

} 
.sixth p {
	position: absolute;
	color: #ffffff ;
	font-size: 20px;
	bottom: -490%;
	left: 45%;
	margin-right: 250px;
}
.seventh {
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #f9f5f5 ;
	align-items: center;
}
.seventh h2 {
	font-size: 48pt;
	margin-bottom: 20px;
	text-align: center;
	color: #1D2A52 ;
}
.seventh p {
	font-size: 16px;
	text-align: center;
}

h1 {
	text-align: left;
	color: #F9E2C3;
}
h2 { 
	text-align: left;
	color: #F9E2C3;
}
h3 {
	color:#F9E2C3 ;
}